html{
  padding:5%;
  background-color:black;

}
body{
  font: 75% georgia, sans-serif;
  /*color: #555753;*/

  background-color:black;

}
h1{
background:#EB5350;
color:#fff;
font-size:4em;
display:inline-block;
margin-bottom:1em;
padding:0.5em 1em;
}
h2 {
background:#EB5350;
color:#fff;
display:inline-block;
margin-bottom:1em;
padding:0.5em 1em;
font-weight:900;
font-size:3em;
letter-spacing:1px;
line-height:1em; }
li{
font: italic normal 1.4em georgia, sans-serif;
letter-spacing: 1px;
margin-bottom: 0;
font-weight:500;
line-height:2em;
color: #0000;
}
h3 {
font: italic normal 1.4em georgia, sans-serif;
letter-spacing: 1px;
float: left;
margin-left: 25px;
margin-bottom: 0;
color: #7D775C;
}
.p1 {
background-color: #E0D71C;
float: left;
margin-top: 10px;
display: block;
width: 800px;
height: 500px;
}
.p2 {
background-color: #D2B4CF;
float: right;
margin-top: -500px;
margin-right: 50px;
display: block;
width: 400px;
height: 1020px;
}

.p3 {
background-color: #6F966C;
color: #fff;
float: right;
margin-top: -650px;
margin-right: 10px;
display: block;
width: 500px;
height: 650px;
}
